/.quarto/

# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents/

# IPython
profile_default/
ipython_config.py
__pycache__/
*.py[codz]
*$py.class

# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Temporary files
*~
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Log files
*.log